
*{
    font-family: "Lato" , sans-serif;
    box-sizing: border-box;
    margin: auto;
   /* border: 1px solid red !important;*/
}

/* Container and Grid */
 .container {
	width: 1170px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

 .row {
	width: 100%;
	display: flex;
}

.col1 {
	width: 8.33%;
}

.col2 {
	width: 16.66%;
}

.col3 {
	width: 25%;
}

.col4 {
	width: 33.33%;
}

.col5 {
	width: 41.66%;
}

.col6 {
	width: 50%;
}

.col7 {
	width: 58.33%;
}

.col8 {
	width: 66.66%;
}

.col9 {
	width: 75%;
}

.col10 {
	width: 83.33%;
}

.col11 {
	width: 91.66%;
}

.col12 {
	width: 100%;
}

/*Header*/
.logo {
	width: 100%;
	padding-left: 10px;
	padding-top: 10px;
}

.heading {
	font-weight: 500;
    text-align: right;
	padding-right: 8px;
	letter-spacing: 5px;
	margin: 0.1em 0;
}

.borderline {
	width: 100%;
	border-bottom: 2px solid lightgrey;
	border-bottom-style: outset;
}

.borderspace {
	padding: 4px 10px;
}

/*Content*/
.row2image {
	width: 100%;
	height: 100%;
	padding: 10px;
}

.subheading {
	font-family: inherit;
    font-weight: 500;
    letter-spacing: 1px;
 }

.h2 {
	padding-left: 10px;
}

/*Content1*/
.row3image {
	width: 100%;
	height: 100%;
	padding: 10px;
}

.imagetext {
	text-align: center;
	text-transform: uppercase;
	padding: 3px;
}

.urltext {
	text-align: center;
	padding: 3px;
}

.zoom { 
	transition: all .2s ease-in-out; 
}

.zoom:hover { 
	transform: scale(1.1,1.1);
}

@media screen and (max-width: 1200px) {
   body {
     font-family: inherit;
     font-size: 1vmax;
     letter-spacing: 1px;
 }
 
    .container {
    width: 100%;
    }
}